<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <link rel="icon" type="png" href="img/logo.png">
    <link rel="stylesheet" href=" css/style.css" />
    <link rel="stylesheet" href=" fontawesome-free-5.13.1-web/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Neutron Yogyakarta</title>
</head>

<body>

    <!-- Ini Header -->
    <header>
        <nav id="nav" class="navbar navbar-expand-lg navbar-dark bg-biru fixed-top">
            <div class="container">
                <i class="logonav mr-3 fa-3x fab fa-slack"></i>
                <a href="/" class="navbar-brand text-white">Neutron Yogyakarta</a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarMenu">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="/" class="nav-link text-white">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="/tentang" class="nav-link text-white">Tentang</a>
                        </li>
                        <li class="nav-item">
                            <a href="#secpaket" class="nav-link text-white">Produk</a>
                        </li>
                        <li class="nav-item">
                            <a href="#sechubungikami" class="nav-link text-white">Hubungi Kami</a>
                        </li>
                        <li class="nav-item">
                            <a href="/tim" class="nav-link text-white">Tim</a>
                        </li>
                        <li class="nav-item">
                            <a href="/login" class="nav-link text-white">Admin</a>
                        </li>
                    </ul>
                </div>
        </nav>
        </div>
    </header>

    <!-- Ini Jumbotron -->
    <div id="home" class="jumbotron jumbotron-fluid">
        <div class="container">
            <i class="logo fa-9x fab fa-slack"></i>
            <h1 class="display-4 font-weight-bold"><br> <span id="neutron">NEUTRON YOGYAKARTA</span> </h1>
        </div>
    </div>


    <!-- Ini Main Content -->
    <main>
        <!-- Ini Section Menteri -->
        <section id="secmenteri" class="section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-center">
                        <h2 class="judulsection">Sambutan Kepala Cabang</h2>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col justify-content-center">
                        <hr class="garis">
                    </div>
                </div>
                <div class="row konten text-center">
                    <div class="col-md-5">
                        <img class="fotokonten img-fluid rounded-circle" src=" img/kepsek.jpg" alt="foto1">
                        <h3 class="judulsection mt-4">Nadiem Makarim</h3>
                    </div>
                    <div class="col-md-7">
                        <span class="quote">&#8220;</span>
                        <p class="isikonten">Assalamu’alaikum wr. wb.

                            Pada tahun 2045 merupakan target generasi emas yaitu generasi yang saat ini sedang mengenyam
                            pendidikan dan diharapkan akan meraih kesuksesan di tahun 2045. Oleh karena itu perlu adanya
                            usaha mempersiapkan generasi emas tersebut untuk menyelaraskan dengan perkembangan zaman.
                            Pendidikan di Neutron Yogyakarta harus mampu persiapan generasi emas di tahun 2045 tersebut.
                        </p>
                        <p class="isikonten">
                            Dunia sekarang ini dihadapkan dengan krisis karakter dimana kejahatan yang merajalela
                            dimana-mana, seperti korupsi, narkoba, intoleransi, diskriminatif, bullying, dan lain
                            sebagainya. Oleh karena itu pendidikan di Neutron Yogyakarta harus mampu menumbuhkan
                            perilaku positif dan akhlak mulia,
                            sehingga mampu memberikan jawaban dan solusi terhadap krisis karakter yang terjadi saat ini.

                        </p>
                        <span class="quote">&#8220;</span>
                    </div>
                </div>
            </div>
        </section>
        <!-- Ini Section Mengapa pilih-->
        <section id="secmengapa" class="section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-center">
                        <h2 class="judulsection">Mengapa pilih Neutron Yogyakarta?</h2>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col justify-content-center">
                        <hr class="garis">
                    </div>
                </div>
                <div class="row konten justify-content-center text-center">
                    <div class="col-md-4"><i class="fas fa-6x fa-building"></i>
                        <h3 class="my-4">Sarana Prasarana Memadai</h3>
                        <p class="isikonten">Neutron Yogyakarta selalu siap untuk memberikan fasilitas-fasilitas yang
                            akan diberikan oleh siswa dengan terus berkembang mengikuti perkembangan teknologi
                            pembelajaran terbaru, sehingga para siswa dapat memanfaatkannya dengan maksimal untuk
                            menunjang pendidikan yang terbaik</p>
                    </div>
                    <div class="col-md-4"><i class="fas fa-6x fa-search-location"></i>
                        <h3 class="my-4">Lokasi Strategis</h3>
                        <p class="isikonten">Neutron Yogyakarta terletak ditempat yang strategis, yaitu di tengah kota
                            Yogyakarta sehingga mudah untuk diakses. juga dikelilingi oleh fasilitas-fasilitas umum yang
                            sering digunakan oleh masyarakat seperti minimarket, restoran, transportasi online, dll</p>
                    </div>
                    <div class="col-md-4"><i class="fas fa-6x fa-money-bill-wave"></i>
                        <h3 class="my-4">Biaya terjangkau</h3>
                        <p class="isikonten">Neutron Yogyakarta sangat mendukung para siswa yang mempunyai keinginan
                            untuk belajar, sehingga Neutron Yogyakarta sudah menyiapkan harga khusus dan terjangkau,
                            sehingga para siswa yang mempunyai keinginan untuk belajar tidak terlalu terbebani oleh
                            suatu masalah dalam pembiayaan bimbingan belajar</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Ini Section Info -->
        <section class="section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-center">
                        <h2 class="judulsection">Info</h2>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col justify-content-center">
                        <hr class="garis">
                    </div>
                </div>
                <div class="card-deck konten">
                    <div class="card border-0">
                        <img class="card-img-top" src=" img/info.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Tips Belajar Menyenangkan di Rumah</h5>
                            <p class="card-text">Belajar di rumah bukanlah perkara yang sulit untuk dijalani namun butuh
                                perjuangan yang lebih untuk melakukannya ditambah usaha untuk menghadapi rasa malas dan
                                jenuh. Berikut ada beberapa tips agar belajar di rumah tetap menyenangkan.</p>
                            <a href="/info" target="_blank" class="readmore">READ MORE <span>&#8811;</span></a>
                        </div>
                    </div>
                    <div class="card border-0">
                        <img class="card-img-top" src=" img/info1.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Pendidikan Karakter</h5>
                            <p class="card-text">Tujuan pendidikan adalah mengembangkan potensi peserta didik agar
                                menjadi manusia yang beriman dan bertakwa kepada Tuhan Yang Maha Esa, berakhlak mulia,
                                sehat, berilmu, cakap, kreatif, mandiri, dan menjadi warga negara yang demokratis serta
                                tanggung jawab.</p>
                            <a href="#" class="readmore">READ MORE <span>&#8811;</span></a>
                        </div>
                    </div>
                    <div class="card border-0">
                        <img class="card-img-top" src=" img/info2.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Pendidikan sebagai Human Investment</h5>
                            <p class="card-text">Pentingnya pendidikan bagi para siswa, harus mulai disadari oleh orang
                                tua, bahwa cara kerja dunia ini selalu berubah dengan cara yang unik.</p>
                            <a href="#" class="readmore">READ MORE <span>&#8811;</span></a>
                        </div>
                    </div>
                </div>
                <div class="card-deck konten">
                    <div class="card border-0">
                        <img class="card-img-top" src=" img/info3.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Resolusi Belajar Tahun 2020</h5>
                            <p class="card-text">Pergantian tahun merupakan moment yang ditunggu-tunggu oleh banyak
                                orang. Semua orang ingin memiliki kehidupan yang lebih baik di tahun 2020 ini.</p>
                            <a href="#" class="readmore">READ MORE <span>&#8811;</span></a>
                        </div>
                    </div>
                    <div class="card border-0">
                        <img class="card-img-top" src=" img/info4.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Belajar bersyukur dari Angin</h5>
                            <p class="card-text">Ternyata angin berperan penting dalam proses penyerbukan dalam
                                tumbuhan.</p>
                            <a href="#" class="readmore">READ MORE <span>&#8811;</span></a>
                        </div>
                    </div>
                    <div class="card border-0">
                        <img class="card-img-top" src=" img/info5.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Melatih Kejujuran Sejak Dini</h5>
                            <p class="card-text">Pendidikan yang berkualitas diharapkan akan mampu mengubah pola pikir
                                masyarakat yang akhirnya dapat mengubah perilaku menjadi lebih baik. Jika ini terwujud
                                maka negara akan mempunyai generasi yang diharapkan akan mampu memimpin bangsa dan
                                dijadikan acuan oleh bangsa lain.</p>
                            <a href="#" class="readmore">READ MORE <span>&#8811;</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Ini Section Paket -->
        <section id="secpaket" class="sectionnomargin">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-center">
                        <h2 class="judulsection">Paket Belajar</h2>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col justify-content-center">
                        <hr class="garisbiru">
                    </div>
                </div>
                <div class="container">
                    <div class="row justify-content-center text-center">
                        <div class="col-md-4">
                            <a href="" class="custom-card" data-toggle="modal" data-target="#sdModal">
                                <div class="ekskul cardsendiri bg-ijo">
                                    <i class="fa-5x fas fa-child mb-3"></i>
                                    <h4>SD</h4>
                                    <p class="isikonten">Siswa tingkat Sekolah Dasar akan dipersiapkan untuk bisa
                                        menyelesaikan PR sendiri, mengembangkan logika, dan mempersiapkan ujian</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="#" class="custom-card" data-toggle="modal" data-target="#smpModal">
                                <div class="ekskul cardsendiri bg-ijo1">
                                    <i class="fa-5x fas fa-user-tie mb-3"></i>
                                    <h4>SMP</h4>
                                    <p class="isikonten">Siswa tingkat SMP akan dipersiapkan untuk bisa menguasai setiap
                                        materi yang diberikan di sekolah, memperdalam soal-soal HOTS, dan mempersiapkan
                                        ujian nasional</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="#" class="custom-card" data-toggle="modal" data-target="#smaModal">
                                <div class="ekskul cardsendiri bg-ijo3">
                                    <i class="fa-5x fas fa-user-graduate mb-3"></i>
                                    <h4>SMA</h4>
                                    <p class="isikonten">Siswa tingkat SMA akan dipersiapkan untuk menguasai
                                        materi-materi yang sering dikeluarkan dalam UTBK, siswa akan intensif untuk
                                        mengerjakan kumpulan soal UTBK</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
        </section>
        <!-- Ini Section Video Profil -->
        <section id="secvideo" class="sectionnomargin">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-center">
                        <h2 class="judulsection">Video Channel</h2>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col justify-content-center">
                        <hr class="garisbiru">
                    </div>
                </div>
            </div>
            <div class="container konten">
                <div class="row justify-content-center">
                    <div class="col-md-7">
                        <iframe width="600" height="337.50" src="https://www.youtube.com/embed/ps_vxszQ4aw"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="col-md-5">
                        <iframe width="300" height="168.75" src="https://www.youtube.com/embed/m3vB3KaiGt0"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                        <iframe width="300" height="168.75" src="https://www.youtube.com/embed/cCHNdS2xIPc"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </section>

        <!-- Ini Section Hubungi Kami -->
        <section id="sechubungikami" class="section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-center">
                        <h2 class="judulsection">Hubungi Kami</h2>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col justify-content-center">
                        <hr class="garis">
                    </div>
                </div>
                <div class="row justify-content-center konten">
                    <div class="col-md-6">
                        <div class="mapouter">
                            <div class="gmap_canvas"><iframe width="520" height="500" id="gmap_canvas"
                                    src="https://maps.google.com/maps?q=kantor%20pusat%20neutron%20yogyakarta&t=&z=13&ie=UTF8&iwloc=&output=embed"
                                    frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a
                                    href="https://www.embedgooglemap.net">embedgooglemap.net</a></div>
                            <style>
                                .mapouter {
                                    position: relative;
                                    text-align: right;
                                    height: 500px;
                                    width: 520px;
                                }

                                .gmap_canvas {
                                    overflow: hidden;
                                    background: none !important;
                                    height: 500px;
                                    width: 520px;
                                }
                            </style>
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <h5 class="mb-4"><i class="mr-5 fas fa-2x fa-envelope-square"></i>neutron@gmail.com</h5>
                        <h5 class="mb-4"><i class="mr-5 fas fa-2x fa-map-marked-alt"></i>Jl. Taman Siswa No.96 Kota
                            Yogyakarta</h5>
                        <h5 class="mb-4"><i class="mr-5 fas fa-2x fa-phone-square"></i>0274-223415</h5>
                        <h5><i class="mr-5 fas fa-2x fa-fax"></i>0274-3112876</h5>
                        <form action="/send" method="POST" class="mt-5">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control" name="nama" id="inputName"
                                        placeholder="Nama">
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="email" class="form-control" name="email" id="inputEmail"
                                        placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="isiPesan" id="inputTextArea" rows="3"
                                    placeholder="Masukkan Pesan Anda"></textarea>
                            </div>
                            <button type="submit" class="btn btn-outline-primary">Kirim</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Modal SD -->
        <div class="modal fade" id="sdModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Sekolah Dasar</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Paket khusus untuk siswa SD dengan program bimbingan sebagai berikut: </p>
                        <ul>
                            <li>Satu minggu masuk 3 kali (@90 menit).</li>
                            <li>Bimbingan diadakan selama 1 (satu) tahun ajaran sampai menjelang Ujian Akhir Sekolah
                                (bagi 6 SD), bagi 4, 5 SD sampai UKK/PAT 2021.</li>
                            <li>Penjelasan dan pendalaman teori dasar serta inti permasalahan tiap materi pelajaran
                                berdasarkan kurikulum terbaru.</li>
                            <li>Meningkatkan penguasaan materi dan kemampuan analisis siswa berdasarkan teori yang telah
                                dikuasai sehingga dapat memecahkan soal-soal yang dihadapi.</li>
                            <li>Konsultasi dan diskusi terhadap pokok-pokok bahasan setiap bidang studi yang dirasa
                                perlu dan kesulitan-kesulitan PR juga persiapan ulangan-ulangan harian.</li>
                            <li>Disediakan konsultasi akademik setiap saat dan konsultasi dengan orangtua/wali siswa
                                tentang perkembangan siswa secara berkala.</li>
                        </ul>
                        <h3>Rp. 1.200.000</h3>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Batal</button>
                        <a class="btn btn-outline-primary" href="/pendaftaran">Daftar</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Akhir Modal SD -->

        <!-- Modal SMP -->
        <div class="modal fade" id="smpModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Sekolah Menengah Pertama</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Paket khusus untuk siswa SMP dengan program bimbingan sebagai berikut: </p>
                        <ul>
                            <li>Satu minggu masuk 3 kali (@90 menit).</li>
                            <li>Bimbingan diadakan selama 1 (satu) tahun ajaran sampai menjelang Ujian Akhir Sekolah
                                (bagi 3 SMP), bagi 1, 2 SMP sampai UKK/PAT 2021.</li>
                            <li>Penjelasan dan pendalaman teori dasar serta inti permasalahan tiap materi pelajaran
                                berdasarkan kurikulum terbaru.</li>
                            <li>Meningkatkan penguasaan materi dan kemampuan analisis siswa berdasarkan teori yang telah
                                dikuasai sehingga dapat memecahkan soal-soal yang dihadapi.</li>
                            <li>Diberikan metode belajar terbaik, yaitu Metode Penalaran dan strategi-strategi khusus
                                yang hanya ada di NEUTRON.</li>
                            <li>Memantapkan siswa-siswi dengan drilling latihan soal-soal standar dan HOTS</li>
                        </ul>
                        <h3>Rp. 1.700.000</h3>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Batal</button>
                        <a class="btn btn-outline-primary" href="/pendaftaran">Daftar</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Akhir Modal SMP -->

        <!-- Modal SMA -->
        <div class="modal fade" id="smaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Sekolah Menengah Atas</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Paket khusus untuk siswa SMA dengan program bimbingan sebagai berikut: </p>
                        <ul>
                            <li>Bimbingan online/offline (bila sudah bisa tatap muka).</li>
                            <li>Bimbingan online masuk 10x pertemuan @ 3 jam</li>
                            <li>Bimbingan offline masuk 10x tatap muka @ 3 jam.</li>
                            <li>Materi yang diajarkan khusus bidang studi persiapan UTBK- SBMPTN.</li>
                            <li>Diberikan paket drilling soal-soal dan dibahas langsung dengan analisis & pendalamannya.
                            </li>
                            <li>Pengajar profesional terbaik khusus di bidangnya dan berpengalaman.</li>
                            <li>Diberikan trik cepat & akurat dalam menjawab soal, dan motivasi belajar serta suntikan
                                semangat untuk sukses UTBK-SBMPTN.</li>
                            <li>Suntikan semangat untuk sukses UTBK-SBMPTN</li>
                        </ul>
                        <h3>Rp. 2.300.000</h3>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Batal</button>
                        <a class="btn btn-outline-primary" href="/pendaftaran">Daftar</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Akhir Modal SMA -->
    </main>


    <!-- Ini Footer -->
    <footer>
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 segment-one">
                        <h3 class="judulfooter"><i class="logonav mb-2 fa-2x fab fa-slack"></i> Neutron <br>Yogyakarta
                        </h3>
                        <p>
                            Selama kurang lebih 26 tahun, NEUTRON telah menjadi lembaga bimbingan belajar pilihan
                            siswa-siswi di Indonesia. Dengan lebih dari 120 cabang di Indonesia dan sekitar 1862 staf
                            pengajar kompeten, NEUTRON terus berkomitmen memberikan program bimbingan belajar terbaik.
                        </p>
                    </div>
                    <div class="col-md-3 segment-two">
                        <h3 class="judulfooter">Navigasi</h3>
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/tentang">Tentang</a></li>
                            <li><a href="#secpaket">Produk</a></li>
                            <li><a href="#sechubungikami">Hubungi Kami</a></li>
                            <li><a href="/tim">Tim</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 segment-three">
                        <h3 class="judulfooter">Ikuti Kami</h3>
                        <p>Ikuti kami di sosial media untuk mendapatkan update terbaru</p>
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                    <div class="col-md-3 segment-four">
                        <h3 class="judulfooter">Kontak</h3>
                        <div class="row mt-3">

                            <p><a href="#"><i class="mr-2 fas fa-phone"></i></a>0274-223415</p>
                        </div>
                        <div class="row">

                            <p><a href="#"><i class="mr-2 fas fa-envelope"></i></a>neutron@gmail.com</p>
                        </div>
                        <div class="row">

                            <p><a href="#"><i class="mr-2 fas fa-map-marker-alt"></i></a>Jl. Taman Siswa No.96,
                                Wirogunan, Kec. Mergangsan, Kota Yogyakarta</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-md-center">
                        <p class="footer-bottom-text">Allright reserved by &copy;Klobot Newborn 2020</p>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </footer>



    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>

</html>