<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <link rel="icon" type="png" href=" img/logo.png">
    <link rel="stylesheet" href=" css/generalstyle.css" />
    <link rel="stylesheet" href=" fontawesome-free-5.13.1-web/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pendaftaran</title>
</head>

<body>

    <!-- Ini Header -->
    <header>
        <nav id="nav" class="navbar navbar-expand-lg navbar-dark bg-biru fixed-top">
            <div class="container">
                <i class="logonav mr-3 fa-3x fab fa-slack"></i>
                <a href="/#home" class="navbar-brand text-white">Neutron Yogyakarta</a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarMenu">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="/#home" class="nav-link text-white">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="/tentang" class="nav-link text-white">Tentang</a>
                        </li>
                        <li class="nav-item">
                            <a href="/#secpaket" class="nav-link text-white">Produk</a>
                        </li>
                        <li class="nav-item">
                            <a href=" /#sechubungikami" class="nav-link text-white">Hubungi Kami</a>
                        </li>
                        <li class="nav-item">
                            <a href="/tim" class="nav-link text-white">Tim</a>
                        </li>
                        <li class="nav-item">
                            <a href="/login" class="nav-link text-white">Admin</a>
                        </li>
                    </ul>
                </div>
        </nav>
        </div>
    </header>




    <!-- Ini Main Content -->
    <main>
        <section class="section">
            <div class="container card mb-5 daftarradius">
                <h2 class="alert alert-primary text-center mt-3">Formulir Pendaftaran</h2>
                <form class="p-4" action="">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="nama">Nama Lengkap</label>
                                <input id="nama" type="text" name="" class="form-control"
                                    placeholder="Masukkan nama lengkap anda">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" id="email" class="form-control" placeholder="Masukkan email anda">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Pilih Paket</label>
                                <select class="form-control" name="" id="">
                                    <option value="">SD</option>
                                    <option value="">SMP</option>
                                    <option value="">SMA</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="">Kelas</label>
                                <select class="form-control" name="" id="">
                                    <option value="">1</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                    <option value="">4</option>
                                    <option value="">5</option>
                                    <option value="">6</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="tempat_lahir">Asal Sekolah</label>
                                <input id="asal_sekolah" type="text" name="" class="form-control"
                                    placeholder="Masukkan asal sekolah anda">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4 text-right">
                            <button type="reset" class="btn btn-outline-danger">RESET</button>
                            <button type="submit" class="btn btn-outline-primary">DAFTAR</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>




    </main>

    <footer>
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 segment-one">
                        <h3 class="judulfooter"><i class="logonav mb-2 fa-2x fab fa-slack"></i> Neutron <br>Yogyakarta
                        </h3>
                        <p>
                            Selama kurang lebih 26 tahun, NEUTRON telah menjadi lembaga bimbingan belajar pilihan
                            siswa-siswi di Indonesia. Dengan lebih dari 120 cabang di Indonesia dan sekitar 1862 staf
                            pengajar kompeten, NEUTRON terus berkomitmen memberikan program bimbingan belajar terbaik.
                        </p>
                    </div>
                    <div class="col-md-3 segment-two">
                        <h3 class="judulfooter">Navigasi</h3>
                        <ul>
                            <li><a href="#home">Home</a></li>
                            <li><a href="tentang.html">Tentang</a></li>
                            <li><a href="#secpaket">Produk</a></li>
                            <li><a href="#sechubungikami">Hubungi Kami</a></li>
                            <li><a href="tim.html">Tim</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 segment-three">
                        <h3 class="judulfooter">Ikuti Kami</h3>
                        <p>Ikuti kami di sosial media untuk mendapatkan update terbaru</p>
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                    <div class="col-md-3 segment-four">
                        <h3 class="judulfooter">Kontak</h3>
                        <div class="row">

                            <p><a href="#"><i class="mr-2 fas fa-phone"></i></a>0274-223415</p>
                        </div>
                        <div class="row">

                            <p><a href="#"><i class="mr-2 fas fa-envelope"></i></a>neutron@gmail.com</p>
                        </div>
                        <div class="row">

                            <p><a href="#"><i class="mr-2 fas fa-map-marker-alt"></i></a>Jl. Taman Siswa No.96,
                                Wirogunan, Kec. Mergangsan, Kota Yogyakarta</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-md-center">
                        <p class="footer-bottom-text">Allright reserved by &copy;Klobot Newborn 2020</p>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </footer>

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>

</html>