<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <link rel="icon" type="png" href="img/logo.png">
    <link rel="stylesheet" href=" css/generalstyle.css" />
    <link rel="stylesheet" href=" fontawesome-free-5.13.1-web/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Neutron Yogyakarta</title>
</head>

<body>

    <!-- Ini Header -->
    <header>
        <nav id="nav" class="navbar navbar-expand-lg navbar-dark bg-biru fixed-top">
            <div class="container">
                <i class="logonav mr-3 fa-3x fab fa-slack"></i>
                <a href="/" class="navbar-brand text-white">Neutron Yogyakarta</a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarMenu">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="/" class="nav-link text-white">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="/tentang" class="nav-link text-white">Tentang</a>
                        </li>
                        <li class="nav-item">
                            <a href="#secpaket" class="nav-link text-white">Produk</a>
                        </li>
                        <li class="nav-item">
                            <a href="#sechubungikami" class="nav-link text-white">Hubungi Kami</a>
                        </li>
                        <li class="nav-item">
                            <a href="/tim" class="nav-link text-white">Tim</a>
                        </li>
                        <li class="nav-item">
                            <a href="/login" class="nav-link text-white">Admin</a>
                        </li>
                    </ul>
                </div>
        </nav>
        </div>
    </header>

    <main>
        <section>
            <div class="container">
                <h2 class="judulpage">Tim Kami</h2>
                <hr class="mt-4">
            </div>
            <div class="container konten">
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <div class="card cardsendiri" style="width: 18rem;">
                            <img src=" img/tim.jpg" class="card-img-top rounded-circle fototim" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Anisykurli Faza Ramadhani (18.11.2438)</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card cardsendiri" style="width: 18rem;">
                            <img src=" img/tim1.jpeg" class="card-img-top rounded-circle fototim" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Pahreza Iqbal Prastowo (18.11.2444)</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card cardsendiri" style="width: 18rem;">
                            <img src=" img/tim2.jpeg" class="card-img-top rounded-circle fototim" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Adnanta Zulfakar (18.11.2449)</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <div class="card cardsendiri cardsendiri" style="width: 18rem;">
                            <img src=" img/tim3.jpeg" class="card-img-top rounded-circle fototim" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Muhammad Yusuf Alfianur (18.11.2437)</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card cardsendiri" style="width: 18rem;">
                            <img src=" img/tim4.jpg" class="card-img-top rounded-circle fototim" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Imam Faturohim (18.11.2406)</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card cardsendiri" style="width: 18rem;">
                            <img src=" img/tim5.jpeg" class="card-img-top rounded-circle fototim" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Aditya Dwi Rangga Pribadi (18.11.2395)</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>

</html>